:root{
    --tegelkleur : tomato;
    --borderkleur: rgb(33, 33, 83);
}

.tegel{
    
    background-color: white;
    height: 50px;
    width: 50px;
    border: 3px solid var(--tegelkleur);
    border-radius: 50px;

    /* var(--tegelkleur); */
}
.tegel:nth-child(1){
    position: absolute;
    top:0;
    left:0;
    
    /* margin-top: 10px; */
    background-color: blue;
}
.tegel:nth-child(2){
    position: absolute;
    top:0;
    right:0;

    /* float: left; */
    background-color: blue;
}
.tegel:nth-child(3){
    position: absolute;
    bottom:0;
    left:0;
    
    /* margin-top: 10px; */
    background-color: blue;
}
.tegel:nth-child(4){
    position: absolute;
    bottom:0;
    right:0;
    
    /* margin-top: 10px; */
    background-color: blue;
}
.player1{
    position: absolute;
    background-color: darkblue;
    width: 150px;
    height: 150px;
    top:0;
    left:0;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: solid 2px var(--borderkleur);
    border-radius: 25px;
}
.player2{
    position: absolute;
    background-color: rgb(220, 223, 46);
    width: 150px;
    height: 150px;
    top:0;
    right:0;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: solid 2px var(--borderkleur);
    border-radius: 25px;
}
.player3{
    position: absolute;
    background-color: darkred;
    width: 150px;
    height: 150px;
    bottom:0;
    left:0;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: solid 2px var(--borderkleur);
    border-radius: 25px;
}

.player4{
    position: absolute;
    background-color: darkgreen;
    width: 150px;
    height: 150px;
    bottom:0;
    right:0;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;border: solid 2px var(--borderkleur);
    border-radius: 25px;
}
.naam{
    border: solid 2px black;
    position: relative;
    top: 45%;
    text-align:center;
}
.dice{
    position: fixed;
    top :40%;
    right:0px;
    height: 100px;
    width: 100px;
    
}
.bordtegel{
    background-color: white;
    height: 50px;
    width: 50px;
    border: 3px solid var(--tegelkleur);
    border-radius: 50px;   
}
.bordgrid{
    position: absolute;
    top:0;
    display: grid; 
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
}

/* .rij:nth-child(-n+4){
position: absolute;
top:224px;
margin-left: 5px;
} */
.rij:nth-child(1){
    position: fixed;
    top:224px;
    left:200px;
    }
.rij:nth-child(2){
    position:fixed;
    top:224px;
    left:255px;
    }    
 .rij:nth-child(3){
    position: fixed;
    top:224px;
    left:310px;
    } 
   .rij:nth-child(4){
    position: fixed;
    top:224px;
    left:365px;
    } 
    .rij:nth-child(5){
    position: fixed;
    top:0px;
    left:420px;
    }  
    .rij:nth-child(6){
    position: fixed;
    top:0px;
    left:475px;
    } 
    .rij:nth-child(7){
    position: fixed;
    top:0px;
    left:530px;
    }
    .rij:nth-child(8){
    position: fixed;
    top:224px;
    left:585px;
    } 
    .rij:nth-child(9){
    position: fixed;
    top:224px;
    left:640px;
    }
    .rij:nth-child(10){
    position: fixed;
    top:224px;
    left:695px;
    }  
     
    .rij:nth-child(11){
        position: fixed;
        top:224px;
        left:750px;
        }
        .back{
            text-align: center;
            margin-left: 5px; 
            position: fixed;
            top: 244px;
            left:0;
           padding: 20px 20px;
           background-color: white;
           border: 2px solid rgb(168, 37, 37);
           border-radius: 20px;
           color:black;
           text-decoration: none;


        }
        .back:hover{
        background-color: rgb(168, 37, 37);
        color:floralwhite;
        text-decoration: none;
        }
        a:link{
            color:black;
            text-decoration: none;
        }       
